.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  height: 2.5rem;
  margin: 2rem auto .5rem;
}

.pagination__button {
  display: grid;
  place-items: center;
  width: 2rem;
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--on-surface);
  background-color: var(--surface);
  transition: color .3s ease-in, background-color .3s ease-in;
}

.pagination__button--arrow {
  font-size: 1.3em;
}

.pagination__button--active {
  color: var(--on-primary);
  background-color: var(--primary-color);
}

.pagination__button--disabled {
  opacity: .5;
  cursor: not-allowed;
}

.pagination__button:where(:hover, :focus, :active):not(.pagination__button--active, .pagination__button--disabled) {
  color: var(--surface);
  background-color: var(--on-surface);
}