.header {
  --header-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.header__logo-container,
.header__logo {
  width: 140px;
  height: 100%;
}

.nav__list {
  position: absolute;
  top: var(--header-height);
  left: -100%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.nav__list--active {
  left: 0;
  height: auto;
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease;
}

.icon-container {
  position: relative;
  display: grid;
  place-items: center;
  width: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}

.icon-container:hover {
  transform: scale(1.05);
}

.icon-line,
.icon-line::before,
.icon-line::after {
  width: 24px;
  height: 3.5px;
  background-color: var(--on-background);
  border-radius: 8px;
  transition: all 0.5s;
}

.icon-line::before,
.icon-line::after {
  content: "";
  position: absolute;
}

.icon-line::before {
  transform: translateY(-10px);
}

.icon-line::after {
  transform: translateY(10px);
}

/* Animations */
.icon-container:is(.open) .icon-line {
  background-color: transparent;
}

.icon-container:is(.open) .icon-line::before {
  animation: closeTop 0.3s ease-in-out forwards;
}

.icon-container:is(.open) .icon-line::after {
  animation: closeBottom 0.3s ease-in-out forwards;
}

.icon-container:is(.close) .icon-line {
  transition-delay: 0.25s;
}

.icon-container:is(.close) .icon-line::before {
  animation: openTop 0.3s ease-in-out forwards;
}

.icon-container:is(.close) .icon-line::after {
  animation: openBottom 0.3s ease-in-out forwards;
}

/* Keyframes */
@keyframes closeTop {
  25% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0) rotate(-225deg);
  }
}

@keyframes closeBottom {
  25% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0) rotate(225deg);
  }
}

@keyframes openTop {
  0% {
    transform: translateX(0) rotate(-225deg);
  }

  25% {
    transform: translateX(-10px) rotate(-225deg);
  }

  100% {
    transform: translate(0, -10px) rotate(0);
  }
}

@keyframes openBottom {
  0% {
    transform: translateX(0) rotate(225deg);
  }

  25% {
    transform: translateX(10px) rotate(225deg);
  }

  100% {
    transform: translate(0, 10px) rotate(0);
  }
}