/* Skip link */
.skip-link {
  display: block;
  position: absolute;
  top: -50px;
  left: 0;
  padding: .6em;
  font-size: var(--font-size);
  color: var(--text-on-surface);
  background-color: var(--surface);
  border-bottom-right-radius: var(--border-radius);
  transition: top .3s ease-in;
  z-index: 100;
}

.skip-link:where(:focus, :active) {
  top: 0;
  transition-timing-function: ease-out;
}