:root {
  /* Sizes */
  --header-height: 80px;

  /* Colors */
  --primary-color: #C497FC;
  --secondary-color: #03DAC6;
  --background: #121212;
  --surface: #1f1f1f;
  --surface-variant: #f2dde1;
  --error: #CF6679;
  --success: #93D13C;
  --shadow: #000000;

  /* On colors */
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #F2F2F2;
  --on-surface: #F2F2F2;
  --on-surface-variant: #514347;
  --on-error: #000000;

  /* Emphasis colors: Light text */
  --text-high-emphasis: #ffffffde;
  --text-medium-emphasis: #FFFFFF99;
  --text-disabled: #FFFFFF61;

  /* Font */
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --font-small: 1rem;
  --font-size-base: 10px;

  /* Border */
  --border-radius: .6em;

  /* Outline */
  --outline: 4px solid var(--secondary-color);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  color-scheme: light dark;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

*:where(:focus) {
  outline: none;
}

*:where(:focus-visible) {
  outline: var(--outline);
  outline-offset: -1px;
}

body {
  font-size: var(--font-size-base);
  /* 1em = 10px */
  color: var(--text-on-background);
  background-color: var(--background);
}

/* General Styles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  font: 500 1em var(--font-family);
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}

.section-page {
  padding-block: 2em;
  font-size: 1.6em;
}

.section-title {
  font-size: 2.3em;
  margin-bottom: 1em;
}

.ta-center {
  text-align: center;
}

.react-icons {
  font-size: 1.2em;
}

/* Skip link */
.skip-link {
  display: block;
  position: absolute;
  top: -50px;
  left: 0;
  padding: .6em;
  font-size: var(--font-small);
  color: var(--text-on-surface);
  background-color: var(--surface);
  border-bottom-right-radius: var(--border-radius);
  transition: top .3s ease-in;
  z-index: 100;
}

.skip-link:where(:focus, :active) {
  top: 0;
  transition-timing-function: ease-out;
}

/* Forms */
.form,
.form__item {
  display: flex;
  flex-direction: column;
}

.form {
  justify-content: space-around;
  gap: 1.5em;
  width: min(400px, 100%);
  min-height: 320px;
  padding: 1em 1.5em;
  margin: 0 auto;
  font-size: 1.1em;
  border-radius: var(--border-radius);
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow:
    -.15em 0 .3em rgba(0, 0, 0, .2),
    .25em .3em rgba(0, 0, 0, .2);
}

.form__item {
  gap: .12em;
}

.form__item--checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;

}

.form__item--checkbox .form__inline-error {
  order: 1;
}

.form__item:where(:focus-within) .form__hint {
  display: initial;
}

.form__hint {
  display: none;
  font-size: .75em;
  line-height: 1.25;
}

.form__hint--example {
  display: inline-block;
  padding: 0 .3em;
  color: var(--on-surface-variant);
  background-color: var(--surface-variant);
  border-radius: var(--border-radius);
}

.form__inline-error {
  font-size: .8em;
  color: var(--error);
}

.form__input,
.form__button {
  padding: .7em 1em;
  border-radius: var(--border-radius);
  font-size: .95em;
  line-height: 1;
}

.form__input {
  box-shadow: .1em .15em .2em var(--shadow);
}

.form__input--valid,
.form__input--invalid {
  outline-offset: 1px;
  border-width: 3px;
  border-style: solid;
}

.form__input--valid {
  border-color: var(--success);
}

.form__input--invalid {
  border-color: var(--error);
}

input[type="checkbox"] {
  margin-right: .5em;
  box-shadow: none;
}

.form__input:where(:focus) {
  outline: var(--outline);
}

.form__button {
  width: min(110px, 100%);
  height: 48px;
  margin-left: auto;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--on-primary);
  background-color: var(--primary-color);
  box-shadow: 0 .1em .3em rgba(0, 0, 0, .3);
  transition: background-color .3s ease-in, color .3s ease-in;
}

.form__button:where([disabled]) {
  opacity: .7;
  cursor: not-allowed;
}

.form__button:where(:hover, :active, :focus) {
  color: var(--on-secondary);
  background-color: var(--secondary-color);
}

.form__button:where(:active, :focus) {
  outline-color: var(--primary-color);
}


@media screen and (min-width: 640px) {
  .wrapper {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
    padding: 0 1em;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0 2em;
  }
}